<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISysInfo" />
                <binding name="BasicHttpBinding_IBasic" />
                <binding name="BasicHttpBinding_IAcceptance" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.8.53:9999/Accept.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAcceptance"
                contract="AcceptSvr.IAcceptance" name="BasicHttpBinding_IAcceptance" />
            <endpoint address="http://192.168.8.53:9999/Basic.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBasic"
                contract="BasicSvr.IBasic" name="BasicHttpBinding_IBasic" />
            <endpoint address="http://192.168.8.53:9999/SysInfo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISysInfo"
                contract="SysInfoSvr.ISysInfo" name="BasicHttpBinding_ISysInfo" />
        </client>
    </system.serviceModel>
</configuration>
