<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="myBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <!--<dataContractSerializer maxItemsInObjectGraph="1048576"/>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <bindings>
      <basicHttpBinding>
        <binding name="basic" allowCookies="false" maxBufferSize="355360" maxReceivedMessageSize="355360" transferMode="Streamed" messageEncoding="Text"/>
      </basicHttpBinding>
    </bindings>
    
    <services>
      <!--系统管理服务-->
      <service behaviorConfiguration="myBehavior" name="WMS.Lib.impl.SysInfoImpl">
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.8.53:9999/"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="WMS.Lib.intf.ISysInfo" bindingConfiguration="basic"/>
      </service>
      <!--基础数据服务-->
      <service behaviorConfiguration="myBehavior" name="WMS.Lib.impl.BasicImpl">
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.8.53:9999"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="WMS.Lib.intf.IBasic" bindingConfiguration="basic"/>
      </service>
    <!--验收管理服务-->
    <service behaviorConfiguration="myBehavior" name="WMS.Lib.impl.AcceptanceImpl">
      <host>
        <baseAddresses>
          <add baseAddress="http://192.168.8.53:9999"/>
        </baseAddresses>
      </host>
      <endpoint address="" binding="basicHttpBinding" contract="WMS.Lib.intf.IAcceptance" bindingConfiguration="basic"/>
    </service>
    </services>

    <serviceHostingEnvironment>
      <serviceActivations>
        <add relativeAddress="SysInfo.svc" service="WMS.Lib.impl.SysInfoImpl"/>
        <add relativeAddress="Basic.svc" service="WMS.Lib.impl.BasicImpl"/>
        <add relativeAddress="Accept.svc" service="WMS.Lib.impl.AcceptanceImpl"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>

  <system.web>
    <compilation targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  
  <system.net>
    <mailSettings>
      <smtp from="complaint@moderndentallab.com">
        <network host="login.moderndentallab.com" password="V12ach!8" userName="complaint" />
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>