<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WMS.Lib.util.ErrorInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--数据库类型-->
    <add key="DbType" value="SqlServer"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!--数据库连接字符串-->
  <connectionStrings>
    <add name="WMS.Lib.Properties.Settings.Archer_WMSConnectionString" connectionString="Data Source=192.168.8.53;Initial Catalog=Archer.WMS;Persist Security Info=True;User ID=sa;Password=mysql" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <applicationSettings>
    <WMS.Lib.util.ErrorInfo>
      <setting name="ER000" serializeAs="String">
        <value>未知错误</value>
      </setting>
      <setting name="ER001" serializeAs="String">
        <value>参数为空</value>
      </setting>
      <setting name="ER002" serializeAs="String">
        <value>用户【{0}】不存在</value>
      </setting>
      <setting name="ER003" serializeAs="String">
        <value>用户【{0}】已失效</value>
      </setting>
      <setting name="ER004" serializeAs="String">
        <value>口令错误</value>
      </setting>
      <setting name="ER005" serializeAs="String">
        <value>用户【{0}】未授权</value>
      </setting>
      <setting name="ER006" serializeAs="String">
        <value>角色【{0}】未关联菜单</value>
      </setting>
      <setting name="ER007" serializeAs="String">
        <value>已存在名为【{0}】的菜单信息</value>
      </setting>
      <setting name="ER008" serializeAs="String">
        <value>菜单【{0}】不存在</value>
      </setting>
      <setting name="ER009" serializeAs="String">
        <value>已存在名为【{0}】的角色信息</value>
      </setting>
      <setting name="ER010" serializeAs="String">
        <value>角色【{0}】不存在</value>
      </setting>
      <setting name="ER011" serializeAs="String">
        <value>已存在名为【{0}】的公司信息</value>
      </setting>
      <setting name="ER012" serializeAs="String">
        <value>公司【{0}】不存在</value>
      </setting>
      <setting name="ER013" serializeAs="String">
        <value>已存在名为【{0}】的部门信息</value>
      </setting>
      <setting name="ER014" serializeAs="String">
        <value>部门【{0}】不存在</value>
      </setting>
      <setting name="ER015" serializeAs="String">
        <value>已存在名为【{0}】的用户信息</value>
      </setting>
      <setting name="ER016" serializeAs="String">
        <value>用户【{0}】不存在</value>
      </setting>
      <setting name="ER017" serializeAs="String">
        <value>已存在名为【{0}】的自定义信息</value>
      </setting>
      <setting name="ER018" serializeAs="String">
        <value>自定义【{0}】不存在</value>
      </setting>
      <setting name="ER019" serializeAs="String">
        <value>已存在名为【{0}】的仓储信息</value>
      </setting>
      <setting name="ER020" serializeAs="String">
        <value>仓储【{0}】不存在</value>
      </setting>
      <setting name="ER021" serializeAs="String">
        <value>已存在名为【{0}】的库位信息</value>
      </setting>
      <setting name="ER022" serializeAs="String">
        <value>库位【{0}】不存在</value>
      </setting>
      <setting name="ER023" serializeAs="String">
        <value>已存在名为【{0}】的客户信息</value>
      </setting>
      <setting name="ER024" serializeAs="String">
        <value>客户【{0}】不存在</value>
      </setting>
      <setting name="ER025" serializeAs="String">
        <value>已存在名为【{0}】的供应商信息</value>
      </setting>
      <setting name="ER026" serializeAs="String">
        <value>供应商【{0}】不存在</value>
      </setting>
      <setting name="ER027" serializeAs="String">
        <value>已存在名为【{0}】的物料分类信息</value>
      </setting>
      <setting name="ER028" serializeAs="String">
        <value>物料分类【{0}】不存在</value>
      </setting>
      <setting name="ER029" serializeAs="String">
        <value>已存在名为【{0}】的物料信息</value>
      </setting>
      <setting name="ER030" serializeAs="String">
        <value>物料【{0}】不存在</value>
      </setting>
      <setting name="ER031" serializeAs="String">
        <value>已存在编号为【{0}】的接收信息</value>
      </setting>
      <setting name="ER032" serializeAs="String">
        <value>接收编号【{0}】不存在</value>
      </setting>
      <setting name="ER033" serializeAs="String">
        <value>已存在类型为【{0}】的序列号信息</value>
      </setting>
      <setting name="ER034" serializeAs="String">
        <value>类型为【{0}】的序列号信息不存在</value>
      </setting>
      <setting name="ER035" serializeAs="String">
        <value>序号超出设定长度</value>
      </setting>
    </WMS.Lib.util.ErrorInfo>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
