<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="complaint@moderndentallab.com">
        <network host="login.moderndentallab.com" password="V12ach!8" userName="complaint" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>